<footer class="footer">
	<div class="container">
		<section class="contact">
			<h2>Contact</h2>
			<a title="{{ site.email }}" href="mailto:{{ site.email }}">{{ site.email }}</a>
		</section>
		<section class="follow">
			<h2>Follow</h2>
			<ul>
				<li><a title="LinkedIn" href="{{ site.linkedin }}" target="_blank">LinkedIn<a></li>
			</ul>
		</section>
		<section class="template">
			<h2>Template</h2>
			<h4>
				<li><a title=" 'Pineapple' by arnolds on GitHub" href="https://github.com/arnolds/pineapple/blob/master/README.md" target="_blank"> Pineapple by arnolds <a></li>
			<h4>
		</section>
	</div>
</footer>
